@import "../../../shared/styles/colors";

.Invoice {
  min-height: 100vh;
  padding: 50px 20px;

  &--Line {
    margin-top: 20px;
    width: 100%;
    box-shadow: none !important;
    border: $border;
  }

  &--Price {
    margin-top: 20px;
    width: 100%;
  }

  &--Actions {
    margin-top: 20px;
    width: 100%;
    &-btn {
      margin: 1% !important;
    }
  }
}
