.Form {
  &-Field {
    margin: 2% 2% !important;
  }
}

@media only screen and (min-width: 321px) and (max-width: 599px) {
  &-Field {
    margin: 2% 2% !important;
  }
}

@media only screen and (max-width: 320px) {
  .Form {
    &-Field {
      margin: 2% 0 !important;
    }
  }
}