@import '../../../shared/styles/colors';
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .Advance {
    padding-top: 20px;
    &__appbar {
      color: #ffffff;

      &--list {
        padding-top: 60px !important;

        &--fields {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          display: grid;
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      position: relative;

      &--flex {
        flex: 1;
      }
    }
    margin: 20px;
    &__add {

      &--progress {
        margin-left: -80px;
      }
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      &--leftIcon {
        margin-right: 12px;
      }
    }
    &__Form {
      &--fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: repeat(4, 1fr);

      }

      &--control {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
      }
    }

  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .Advance {
    padding-top: 20px;
    &__appbar {
      color: #ffffff;

      &--list {
        padding-top: 60px !important;

        &--fields {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          display: grid;
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-columns: repeat(4, 1fr);
        }
      }
      position: relative;

      &--flex {
        flex: 1;
      }
    }
    margin: 20px;
    &__add {

      &--progress {
        margin-left: -80px;
      }
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      &--leftIcon {
        margin-right: 12px;
      }
    }
    &__Form {
      &--fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: repeat(4, 1fr);

      }

      &--control {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
      }
    }

  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .Advance {
    padding-top: 20px;
    &__appbar {
      color: #ffffff;

      &--list {
        padding-top: 60px !important;

        &--fields {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          display: grid;
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-columns: repeat(3, 1fr);
        }
      }
      position: relative;

      &--flex {
        flex: 1;
      }
    }
    margin: 20px;
    &__add {

      &--progress {
        margin-left: -80px;
      }
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      &--leftIcon {
        margin-right: 12px;
      }
    }
    &__Form {
      &--fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: repeat(3, 1fr);

      }

      &--control {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
      }
    }

  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .Advance {
    padding-top: 20px;
    &__appbar {
      color: #ffffff;

      &--list {
        padding-top: 60px !important;

        &--fields {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          display: grid;
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-columns: repeat(4, 1fr);
        }
      }
      position: relative;

      &--flex {
        flex: 1;
      }
    }
    margin: 20px;
    &__add {

      &--progress {
        margin-left: -80px;
      }
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      &--leftIcon {
        margin-right: 12px;
      }
    }
    &__Form {
      &--fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: repeat(4, 1fr);

      }

      &--control {
        margin-top: 16px !important;
        margin-bottom: 16px !important;
      }
    }

  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .Advance {
    padding-top: 20px;
    &__appbar {
      color: #ffffff;

      &--list {
        padding-top: 60px !important;

        &--fields {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          display: grid;
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      position: relative;

      &--flex {
        flex: 1;
      }
    }
    margin: 20px;
    &__add {

      &--progress {
        margin-left: -80px;
      }
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      &--leftIcon {
        margin-right: 12px;
      }
    }
    &__Form {
      &--fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: repeat(1, 1fr);

      }

      &--control {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
      }

      &--control:first-child {
        margin-top: 24px !important;
      }

      &--control:last-child {
        margin-bottom: 24px !important;
      }
    }

  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .Advance {
    padding-top: 20px;
    &__appbar {
      color: #ffffff;

      &--list {
        padding-top: 60px !important;

        &--fields {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          display: grid;
          grid-column-gap: 1em;
          grid-row-gap: 1em;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      position: relative;

      &--flex {
        flex: 1;
      }
    }
    margin: 20px;
    &__add {

      &--progress {
        margin-left: -80px;
      }
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;

      &--leftIcon {
        margin-right: 12px;
      }
    }
    &__Form {
      &--fields {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: repeat(1, 1fr);

      }

      &--control {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
      }

      &--control:first-child {
        margin-top: 24px !important;
      }

      &--control:last-child {
        margin-bottom: 24px !important;
      }
    }
  }

}