@import "../../../shared/styles/colors";

.MyTasks {
  &__mobile {
    margin: 20px 0;
    display: none;
    box-shadow: 0 0 4px 2px $lightGrey2;

    &--name {
      color: $primary;
      font-weight: bold;
    }
  }

  &__desktop {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .MyTasks {
    &__mobile {
      display: block;
    }

    &__desktop {
      display: none;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .MyTasks {
    &__mobile {
      display: block;
    }

    &__desktop {
      display: none;
    }
  }
}
