// @import 'shared/styles/colors';
.PickUp {
  &--Line {
    margin-top: 20px;
    width: 100%;
    box-shadow: none !important;
    border: 1px solid #cccccc;
  }

  &--Price {
    margin-top: 20px;
    width: 100%;
  }
}
