@import "../../../shared/styles/colors";

.ReactTable {
  height: calc(100vh - 60px - 8vh);
  .rt-thead {
    .rt-th {
      min-height: 48px;
      line-height: 48px;
      padding: 0;
      text-overflow: unset !important;
      color: $black;
      background-color: $white;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      letter-spacing: 0.1em;
      font-weight: 500;
    }
  }
  .rt-thead.-header {
    z-index: 1;
  }
  .rt-thead.-filters {
    .rt-th {
      padding: 0 8px;
    }
  }
  .rt-td {
    min-height: 48px;
    line-height: 48px;
    padding: 0 8px;
    text-overflow: unset !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
  .pagination-bottom {
    .-pagination {
      font-family: 'Roboto', sans-serif;
      color: $black;
      font-size: 12px;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .ReactTable {
    height: calc(100vh - 60px - 4vh);
  }
}

.lines {
  height: auto !important;
}