@import "../../../shared/styles/colors";

.PO {
  background: $white url("../../../shared/images/card_bg.png");
  &__Line {
    margin: 1em 0;
    &--edit {
      border-radius: 2px;
      border: 1px solid $lightGrey1;
      width: 100%;
      padding: 6px;
    }

    &--mobile {
      margin: 20px 0;
      display: none;
      box-shadow: 0 0 4px 2px $lightGrey2;
    }

    &--desktop {
      display: block;
    }
  }

  &__actions {
    margin: 2em 0;
  }

  &__footer {
    border-bottom: 1px solid $lightGrey1;
    margin-top: 1em;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .PO {
    &__Line {
      &--mobile {
        display: block;
      }
      &--desktop {
        display: none;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .PO {
    &__Line {
      &--mobile {
        display: block;
      }
      &--desktop {
        display: none;
      }
    }
  }
}
