@import "../../../shared/styles/colors";

.PO {
  min-height: 100vh;
  padding: 50px 20px;

  &--Line {
    margin-top: 20px;
    width: 100%;
    box-shadow: none !important;
    border: $lightGrey1;
  }

  &--Price {
    margin-top: 20px;
    width: 100%;
  }
}
