@import "../../../shared/styles/colors";

.PO {
  &__Line {
    margin: 2em 0;
    &--edit {
      border-radius: 2px;
      border: 1px solid $lightGrey1;
      width: 100%;
      padding: 6px;
    }
  }

  &__actions {
    margin: 2em 0;
  }
}
