.Login {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fcfff8 url("../../shared/images/bg.svg");

  &--logo {
    margin-top: 10%;
    margin-bottom: 24px;
  }

  &--footer {
    margin: 24px 0 !important;
    text-align: center;
  }

  &__modal {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (min-width: 600px) {
  .Login {

    &--logo {
      margin-top: 20%;
    }

    &__modal {
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
  .Login {

    &--logo {
      margin-top: 30%;
    }

    &__modal {
      width: 50%;
    }
  }
}

@media (min-width: 800px) {
  .Login {

    &--logo {
      margin-top: 30%;
    }

    &__modal {
      width: 30%;
    }
  }
}